{#
/**
 * @file
 * A layout for the checkout registration form
 *
 * Available variables:
 * - form: The form.
 *
 * @ingroup themeable
 */
#}
<div class="commerce-checkout-completion-register">
  <div class="commerce-checkout-completion-register__text">
    <h2>{%trans%}Create your account{%endtrans%}</h2>
    <p>{%trans%}Set a password to save your details for next time.{%endtrans%}</p>
  </div>
  <div class="commerce-checkout-completion-register__form">
	<div class="siembraco--social-auth">
        <a class="btn" data-name="facebook" href="/user/login/facebook">FACEBOOK</a>
        <a class="btn" data-name="google" href="/user/login/google">GOOGLE</a>
      </div>
    {{ form }}
  </div>
</div>
